body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

h1,h2,h3 { line-height:inherit; font-family: 'Lato', sans-serif;}

h5 { margin-top: 0px ; margin-bottom: 2px; }

a { color: #FF3A41; }

a:hover {
  text-decoration: none;
  color: #5187BB;
}

th, td { padding: 8px; }

p {
  font-size: 18px;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

.mg-top-md {
  margin-top: 2em;
}

/* Navbar */
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #0A5193;
  border-color: #0A5193;
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
  border: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:visited {
  color: #FFFFFF;
  background-color: #2967A3;
  border: 0px;
}

.navbar-nav > li > a {
  margin-top: 0;
  padding: 12px 4px;
}

.navbar-inverse .navbar-header > a:hover {
  color: #FFFFFF;
}

.navbar .brand { padding: 10px 0 7px 15px; }

.navbar-brand {
  font-size: 30px;
  padding-top: 10px;
}

@media all and (max-width: 480px) {
  .navbar-brand {
      font-size: 20px;
      padding-top: 22px;
  }
}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 60px;
}

.nav-subhead {
  color: #ffffff;
  padding-top: 1em;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
  border-color: #fff;
}

.dropdown-menu > li > a {
  display: inline;
  padding: 5px 4px;
}

/* Filters */
.form-control {
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
}

.filter-ex { padding-top: 1em; }

.label { margin-right: 0.5em; }

.select2-container { width: 94% !important; }

.select2-container .select2-selection--single { height: 36px; }

.select2-container--default .select2-selection--multiple {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-left: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 2%;
}

input[type="checkbox"]#lgbtq { margin-top: 7px; }

.m-top-sm { margin-top: 10px; }

.m-bottom-sm { margin-bottom: 10px; }

button:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline:0;
  color: #fff;
}

.btn:hover, .btn-sm:hover { color: #fff; }

.btn {
  margin-right: 0.1%;
  margin-left: 0;
  margin-bottom: 1em;
  font-size: 16px;
}

.btn-search {
  color: #ffffff;
  background-color: #FF3A41;
  border-color: #FF3A41;
}

.btn-search:hover {
  background-color: #FF474E;
  border-color: #FF474E;
}

.btn-reset, .label {
  color: #ffffff;
  background-color: #5187BB;
  border-color: #5187BB;
}

.btn-reset:hover {
  background-color: #6C9AC6;
  border-color: #6C9AC6;
}

.btn-change {
  color: #ffffff;
  background-color: #CECECE;
  border-color: #CECECE;
}

.btn-change:hover {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

.btn-save {
  color: #ffffff;
  background-color: #7F7F7F;
  border-color: #7F7F7F;
}

.btn-save:hover {
  background-color: #999999;
  border-color: #999999;
}

.district-list { margin-bottom: 40px;}
.district-list td{
  font-size: 0.9em;
  color: #333;
}

.warning {
  color: #FF3A41;
  display: none;
}

/* Map map */
#mapCanvas img {
  max-width: none;
}

.leaflet-google-layer{
    z-index: 0 !important;
}

.leaflet-map-pane{
    z-index: 100;
}

.info {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.results-count {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.google-form {
  text-align: center;
}

.list-table thead {
  border-bottom: 3px solid #ddd;
}

.list-table tbody > tr {
  border-bottom: 1px solid #ddd;
}

#no-locations {
  font-size: 18px;
}

.facility-list li.divider {
  border-bottom: 1px solid #ddd;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #7C7F83;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #7C7F83;
}

.tooltip-inner {
  color: #ffffff;
  background: #7C7F83;
  border: solid 1px #7C7F83;
  font-family: 'Lato', sans-serif;
}

.badge {
  background-color: #2967A3;
  padding: 2px 6px 2px;
  vertical-align: 1px;
}

/* Modals */
.modal-header {
  background-color: #72A5D6;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#modal-main > p {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.modal-p {
  margin-bottom: 0.8em;
  word-wrap: break-word;
  line-height: 1;
}

.modal-bottom {
  border-top: 1px solid #CECECE;
  margin-top: 2em;
}

.modal-body-bottom { border-top: 1px solid #F0F0F0; }

.modal-directions { font-weight: 700; }

#post-shortlink {
  width: 50%;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-bottom: 1em;
  color: #CECECE;
}

.modal-body-bottom .input-group {
  width: 100%;
}

#copy-button {
  margin: 0 .5em 0 0;
  margin-bottom: 0.5em;
  padding: .35em .7em;

}

.fa-times-circle {
  margin-top: .15em;
}

.facility-name:hover, .locate-name:hover {
  color: #7F7F7F;
}

iframe {
  width: 100%;
  height: 800px;
}

.no-wrap { white-space: nowrap; }

div#modal-image { padding: 0; }

.img-borders {
    box-shadow:
        0px 0px 0px 2px #fff,
        0px 0px 0px 2px #fff,
        0px 0px 0px 6px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
      .get-sm {
              text-align: center;
       }
    }

/* About */
.well-affixed {
  width: 25em;
}

.contents-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 6px;
}

ul.contents-list, ul.contents-terms {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

ul.contents-list li {
  list-style: none;
  padding-bottom: 12px;
}

ul.contents-terms li {
  padding-bottom: 0px;
}


