body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

h1,h2,h3 { line-height:inherit; font-family: 'Lato', sans-serif;}

h5 { margin-top: 0px ; margin-bottom: 2px; }

a { color: #FF3A41; }

a:hover {
  text-decoration: none;
  color: #5187BB;
}

label { font-weight: normal;}

th, td { padding: 8px; }

p {
  font-size: 18px;
  line-height: 1.6;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #0A5193;
  border-color: #0A5193;
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
  border: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 18px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:visited {
  color: #FFFFFF;
  background-color: #2967A3;
  border: 0px;
}

.navbar-inverse .navbar-header > a:hover {
  color: #FFFFFF;
}

.navbar .brand { padding: 10px 0 7px 15px; }

.navbar-brand { font-size: 34px; }

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 60px;
}

.dropdown-menu > li > a {
  display: inline;
  padding: 5px 4px;
}

.well {
  padding: 10px 15px;
}

.well, .panel-group {
  margin-bottom: 10px;
}

#mapCanvas img {
  max-width: none;
}

.form-control {
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
}

.select2-container {
  width: 22.5em !important;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .select2-container {
      width: 280px !important;
    }
}

.select2-container--default .select2-selection--multiple {
  margin: 5px 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 2%;
}

.btn {
  margin: 0.3em;
  margin-left: 0;
}

.btn-search {
  color: #ffffff;
  background-color: #FF3A41;
  border-color: #FF3A41;
}

.btn-reset {
  color: #ffffff;
  background-color: #5187BB;
  border-color: #5187BB;

}

.btn-change {
  color: #ffffff;
  background-color: #CECECE;
  border-color: #CECECE;
}

.btn-save {
  color: #ffffff;
  background-color: #7F7F7F;
  border-color: #7F7F7F;
}

.zone-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.zone-B   { background-color: #7474D7; }
.zone-C   { background-color: #7474D7; }
.zone-M   { background-color: #DCDC7F; }
.zone-R   { background-color: #7DD67D; }
.zone-RS  { background-color: #7DD67D; }
.zone-RT  { background-color: #7DD67D; }
.zone-RTA { background-color: #7DD67D; }
.zone-RM  { background-color: #7DD67D; }
.zone-PD  { background-color: #d27979; }
.zone-PMD { background-color: #DCDC7F; }
.zone-DX  { background-color: #7474D7; }
.zone-DC  { background-color: #7474D7; }
.zone-DR  { background-color: #7DD67D; }
.zone-DS  { background-color: #7474D7; }
.zone-T   { background-color: #9C9C9C; }
.zone-POS { background-color: #869b7c; }

.zone-B-text{ color: #7474D7; }
.zone-C-text{ color: #7474D7; }
.zone-M-text{ color: #DCDC7F; }
.zone-R-text{ color: #7DD67D; }
.zone-RS-text{ color: #7DD67D; }
.zone-RT-text{ color: #7DD67D; }
.zone-RTA-text{ color: #7DD67D; }
.zone-RM-text{ color: #7DD67D; }
.zone-PD-text{ color: #d27979; }
.zone-PMD-text{ color: #DCDC7F; }
.zone-DX-text{ color: #7474D7; }
.zone-DC-text{ color: #7474D7; }
.zone-DR-text{ color: #7DD67D; }
.zone-DS-text{ color: #7474D7; }
.zone-T-text{ color: #9C9C9C; }
.zone-POS-text{ color: #869b7c; }

.zone-legend li {font-weight: bold;}

.district-list { margin-bottom: 40px;}
.district-list td{
  font-size: 0.9em;
  color: #333;
}

.leaflet-google-layer{
    z-index: 0 !important;
}

.leaflet-map-pane{
    z-index: 100;
}

.info {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info ul {
  display: block;
  list-style: none;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.3em;
  -webkit-margin-start: 0.3em;
  -webkit-margin-end: 0.3em;
  -webkit-padding-start: 0.3em;
  }

.results-count {
  font-family: 'Lato', sans-serif;
  padding: 6px 8px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.google-form {
  text-align: center;
}

.list-table thead {
  border-bottom: 3px solid #ddd;
}

.list-table tbody > tr {
  border-bottom: 1px solid #ddd;
}

#no-locations {
  font-size: 18px;
}

.facility-list li.divider {
  border-bottom: 1px solid #ddd;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #7C7F83;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #7C7F83;
}

.tooltip-inner {
  color: #ffffff;
  background: #7C7F83;
  border: solid 1px #7C7F83;
  font-family: 'Lato', sans-serif;
}

.badge {
  background-color: #2967A3;
  padding: 4px 9px 7px;
  vertical-align: 4px;
}
/* Style for modals */
.modal-header {
  background-color: #72A5D6;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#modal-main > p {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.modal-p {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.modal-bottom { margin-top: 2em; }

.modal-body-bottom { border-top: 1px solid #F0F0F0; }

.modal-directions { font-weight: 700; }

#post-shortlink {
  width: 190px;
  border-radius: 5px;
  margin-right: 0.5em;
  margin-bottom: 1em;
  color: #CECECE;
}

#copy-button {
  margin: 0 .5em 0 0;
  padding: .35em .7em;
}

.fa-times-circle {
  margin-top: .15em;
}

.facility-name:hover {
  color: #7F7F7F;
}


